<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyn0801.mapper.UserMapper">
    <resultMap id="usermap" type="com.lyn0801.entity.User"></resultMap>
    <select id="getAllUsers" resultMap="usermap">
        select * from userinfo
    </select>
</mapper>